body {
	margin: 0;
	pading: 0;
	text-align: left;
	font-family: Arial, sans-serif, Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.5;
	color: black;
}

#toolbox {
    border:1px solid #9AC3E1;
	position: absolute;
	top: 30;
	left: 10;
	background-color: #fff;
	width: 120px;
	cursor: default;
	padding: 3px;
}

#toolbox_handle {
	border:1px solid #9AC3E1;
	margin-top:1px;
	margin-bottom:10px;
	width:98%;
	align:center;
	text-align:left;
	font-weight: bold;
	background-color: #CDF07F;
}

.node {
	width: 120px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #fff;
}

.mover {
	border: 1px solid #ddd;
	background-color: #ddd;
}

.selected {
	background-color: #ddd;
}